.collection-page {
    background-color: #18082D;
    overflow: hidden;
    padding: 100px 0px 100px 0px;
    width: 100svw;
    height: auto;

    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.hero-collection {
    width: 100%;
    height: 80svh;

    background:
        radial-gradient(circle at 78% 22%,
            rgba(179, 67, 180, 0.45) 0%,
            rgba(120, 30, 120, 0.18) 18%,
            rgba(0, 0, 0, 0) 42%),
        linear-gradient(90deg,
            #050014 0%,
            #18002e 55%,
            #320022 100%);


    box-sizing: border-box;
    overflow: hidden;
}

.top-bar {
    padding: 1rem;
    align-self: flex-start;

}

.category-btn {
    height: 50px;
    width: 200px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--main-color);

    background: linear-gradient(90deg, #FB82C8, #fd86ef);
    background-size: 200% 100%;
    background-position: left center;
    position: relative;

    overflow: hidden;


}

.dropdown {
    position: relative;
    display: inline-block;
}

/* button */
.category-btn {
    height: 50px;
    width: 200px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    border: 1px solid var(--main-color);
    background: linear-gradient(90deg, #FB82C8, #fd86ef);
    color: white;
}

/* dropdown menu (RIGHT SIDE) */
.dropdown-menu {
    position: absolute;
    top: 0;
    left: 105%;
    /* 👉 lumalabas sa right side */

    background: rgba(24, 8, 45, 0.95);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;

    min-width: 180px;

    display: flex;
    flex-direction: column;

    padding: 10px;
    gap: 8px;

    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);

    transition: 0.3s ease;
    z-index: 100;
}

/* links */
.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}