/* =========================
   MODAL OVERLAY
========================= */

.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.65);
  backdrop-filter:blur(6px);

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
  z-index:999;
}

/* =========================
   MODAL CARD
========================= */

.confirm-modal{
  width:100%;
  max-width:420px;

  background:#140d25;
  border-radius:28px;

  padding:40px 28px;

  text-align:center;

  border:1px solid rgba(255,255,255,0.05);

  box-shadow:
  0 20px 50px rgba(0,0,0,0.45);
}

/* =========================
   ICON
========================= */

.modal-icon{
  width:90px;
  height:90px;

  margin:0 auto 25px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:38px;
  font-weight:700;

  color:#fff;

  background:
  linear-gradient(
    135deg,
    #7c3aed,
    #9333ea,
    #c084fc
  );

  box-shadow:
  0 10px 30px rgba(124,58,237,0.4);
}

/* =========================
   TEXT
========================= */

.confirm-modal h2{
  color:#fff;
  font-size:28px;
  margin-bottom:15px;
  font-weight:700;
}

.confirm-modal p{
  color:#cbd5e1;
  line-height:1.7;
  font-size:15px;
  margin-bottom:30px;
}

/* =========================
   BUTTONS
========================= */

.modal-buttons{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.modal-buttons button{
  width:100%;
  border:none;
  padding:15px;
  border-radius:14px;

  font-size:15px;
  font-weight:600;

  cursor:pointer;
  transition:0.3s;
}

/* Cancel Button */

.cancel-btn{
  background:#24163f;
  color:#d6d3e1;
  border:1px solid rgba(255,255,255,0.08);
}

/* Confirm Button */

.confirm-btn{
  color:#fff;

  background:
  linear-gradient(
    135deg,
    #7c3aed,
    #9333ea,
    #c084fc
  );

  box-shadow:
  0 10px 20px rgba(124,58,237,0.35);
}

/* Hover */

.modal-buttons button:hover{
  transform:translateY(-2px);
  opacity:0.95;
}

/* =========================
   TABLET
========================= */

@media(min-width:768px){

  .modal-buttons{
    flex-direction:row;
  }

}