<section class="Main-container">

  <div class="password-section">

    <!-- LEFT SIDE -->
    <div class="left-panel">

      <div class="decor decor-top"></div>
      <div class="decor decor-circle"></div>
      <div class="decor decor-small"></div>

      <div class="left-content">

        <span class="tag">
          Secure Access
        </span>

        <h1>Reset Your <br> Password</h1>

        <p>
          Enter your email and create a new secure password to continue exploring VOTRESCENT.
        </p>

      </div>

      <div class="bottom-circle"></div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right-panel">

      <div class="password-box">

        <div class="logo">
          VS
        </div>

        <h2>Create New Password</h2>

        <form (ngSubmit)="resetPassword()">

          <div class="input-group">
            <label>Email Address</label>
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              [(ngModel)]="email"
              required
            >
          </div>

          <div class="input-group">
            <label>New Password</label>
            <input
              type="password"
              name="newPassword"
              placeholder="Create new password"
              [(ngModel)]="newPassword"
              required
            >
          </div>

          <div class="input-group">
            <label>Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              placeholder="Confirm new password"
              [(ngModel)]="confirmPassword"
              required
            >
          </div>

          @if (errorMessage) {
          <p class="form-error">{{errorMessage}}</p>
          }

          <button type="submit" [disabled]="isLoading">
            {{isLoading ? 'Updating...' : 'Update Password'}}
          </button>

        </form>

        <p class="signin-text">
          Remember your password?
          <a routerLink="/login">Back to Login</a>
        </p>

      </div>

    </div>

  </div>
</section>
@if (showConfirmModal) {
<app-confirm-pass (closeModal)="closeConfirmModal()"></app-confirm-pass>
}
