@import url('https://fonts.googleapis.com/css2?family=Delius&family=Geist:wght@100..900&family=Meddon&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:var(--c5-color);

}

:root {
    --main-color: #FFFFFF;
    --c1-color: #260A3C;
    --c2-color: #E699FF;
    --c3-color: #0B0626;
    --c4-color: #FEA1D7;
    --c5-color: #12092E;


    --font-fam1: 'Poppins', sans-serif;
    --fon-playfairDply: "Playfair Display", serif;
}