<footer class="footer">
    <div class="footer-container">

        <!-- BRAND / LEFT -->
        <div class="footer-brand">

            <div class="footer-logo">
                <img src="assets/logo/perfumeLogo.png" alt="Brand Logo">
            </div>

            <h2>Find Your Signature Scent</h2>

            <p>
                Discover luxury fragrances crafted for confidence,
                elegance, and unforgettable moments.
            </p>

            <div class="footer-buttons">

                <button class="shop-btn">
                    <span class="btn-text">
                        SHOP NOW
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </button>

                <button class="collection-btn">
                    <span class="btn-text">
                        EXPLORE COLLECTION
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </button>

            </div>

        </div>

        <!-- RIGHT LINKS -->
        <div class="footer-links-wrapper">

            <!-- SHOP -->
            <div class="footer-links">
                <h3>Shop</h3>

                <a href="#">Men's Perfume</a>
                <a href="#">Women's Perfume</a>
                <a href="#">Luxury Collection</a>
                <a href="#">New Arrival</a>
            </div>

            <!-- SUPPORT -->
            <div class="footer-links">
                <h3>Support</h3>

                <a href="#">Contact Us</a>
                <a href="#">Shipping Policy</a>
                <a href="#">Returns</a>
                <a href="#">FAQs</a>
            </div>

            <!-- SOCIAL -->
            <div class="footer-links">
                <h3>Follow Us</h3>

                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Tiktok</a>
                <a href="#">Pinterest</a>
            </div>

        </div>

    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom">

        <p>© 2026 Scentra. All rights reserved.</p>

        <div class="footer-payment">
            <span>Gcash</span>
            <span>COD</span>
            <span>PayPal</span>
        </div>

        <p>Crafted for fragrance lovers worldwide.</p>

    </div>
</footer>